.card {
  width: 90vw;
  height: 90vh;
  height: 90dvh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2vh;
  outline: 1px solid #ccc;
  border-radius: 20px;
}


