@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Teko:wght@300&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}

:root {
  --background-light: #ffffff;
  --primary-light: #5d3dbd;
  --secondary-light: #ff6f61;
  --text-light: #333333;
  --secondary-text-light: #666666;
  --standard-bars-light: #8c86aa;
  --selected-bars-light: #ff4500;

  --background-dark: #181818;
  --primary-dark: #9d4edd;
  --secondary-dark: #ff8663;
  --text-dark: #f5f5f5;
  --secondary-text-dark: #cccccc;
  --standard-bars-dark: #aa86b8;
  --selected-bars-dark: #ff4500;
}

button {
  background-color: inherit;
  outline: none;
  border: none;
}

svg {
  width: clamp(15px, 5vh, 30px);
  height: clamp(15px, 5vh, 50px);
}
