.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

svg {
  color: var(--text);
  stroke: var(--text);
  transition: all 0.7s;
}

.play:hover svg {
  fill: var(--text);
}

.restart:hover svg {
  transform: rotate(1turn);
}
