.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 2vh;
  flex-wrap: wrap;
}

.spacer {
  flex: 1;
}

.row span {
  color: var(--background);
  background-color: var(--text);
  padding: 1vh;
  border-radius: 10px;
  font-weight: bold;
}

svg {
  color: var(--text);
  stroke: var(--text);
  transition: all 0.7s;
}

.play:hover svg {
  fill: var(--text);
}

.restart:hover svg {
  transform: rotate(1turn);
}

@media (max-width: 1000px) {
  .row span {
    display: none;
  }
}
